TestProjectAccess/Workflows/TestFlow-527B2218-2FD3-EB11-BACC-000D3A17B6D1.json
{"properties":{"connectionReferences":{"shared_sharepointonline":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"cr02b_sharedsharepointonline_4a841"},"api":{"name":"shared_sharepointonline"}},"shared_onedriveforbusiness":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"cr02b_sharedonedriveforbusiness_fc848"},"api":{"name":"shared_onedriveforbusiness"}},"shared_teams":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"cr02b_sharedteams_beb85"},"api":{"name":"shared_teams"}},"shared_planner":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"cr02b_sharedplanner_e6baf"},"api":{"name":"shared_planner"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"List_folder":{"runAfter":{},"metadata":{"%252fShared%2bDocuments":"/Shared Documents"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"ListFolder","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://volvogroup.sharepoint.com/sites/proj-coe_dev","id":"%252fShared%2bDocuments"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"List_files_in_folder":{"runAfter":{"List_folder":["Succeeded"]},"metadata":{"6e202211-2856-4d17-9ded-5beb8b8626b0":"/"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_onedriveforbusiness","operationId":"ListFolderV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"},"parameters":{"id":"6e202211-2856-4d17-9ded-5beb8b8626b0"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"List_channels":{"runAfter":{"List_files_in_folder":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_teams","operationId":"GetChannelsForGroup","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"groupId":"57c461b9-ea17-45c7-8c97-668dadf25b80"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"List_buckets":{"runAfter":{"List_channels":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_planner","operationId":"ListBuckets_V3","apiId":"/providers/Microsoft.PowerApps/apis/shared_planner"},"parameters":{"groupId":"57c461b9-ea17-45c7-8c97-668dadf25b80","id":"84da0lHm2EGibzRU7pEALJYAGBMc"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}